<body class="overflow-x-hidden">
  <div class="bg-gray-200 p-6 shadow-md border border-gray-200">
    <h2 class="text-2xl font-bold text-gray-800 mb-4">Updates on Bookmarked Topics</h2>

    <div *ngIf="hasToken(); else loginPrompt" class="overflow-y-auto">
      <ng-container *ngIf="bookmarks.length > 0; else noBookmarks">
        <ng-container *ngFor="let bookmark of bookmarks">
          <div class="mb-6">
            <h1 class="text-xl font-semibold">{{ bookmark.topic }}</h1>
            <hr class="my-2">
            <div class="mt-2">
              <ng-container *ngIf="bookmark.articles.length > 0; else noUpdates">
                <!-- Mobile: Horizontal scroll, Desktop: Vertical scroll -->
                <div class="md:max-h-68 md:overflow-y-auto overflow-x-auto flex md:block md:whitespace-normal scrollbar-hide">
                  <div class="flex md:block space-x-4 md:space-x-0 md:space-y-4">
                    <div *ngFor="let article of bookmark.articles" class="w-[300px] md:w-full flex-shrink-0">
                      <app-release [release]="article"></app-release>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-template #noUpdates>
                <p class="text-gray-600">No updates on this topic.</p>
              </ng-template>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #noBookmarks>
        <div class="text-center text-gray-600 mt-4">
          You don't have any topics bookmarked.
        </div>
      </ng-template>
    </div>

    <ng-template #loginPrompt>
      <div class="text-center text-gray-600 mt-4">
        Login to get more features like bookmarks and push notifications.
      </div>
    </ng-template>
  </div>
</body>

<style>
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
</style>