<app-navbar *ngIf="hasNav"></app-navbar>

<!-- Chatbot Container with Adjusted Layout -->
<div class="bg-white p-8 flex flex-col h-[calc(100vh-48px)]">
  <h2 class="text-3xl font-bold text-gray-800 mb-4 text-center">AI Chatbot Model</h2>

  <!-- Chat Display Area -->
  <div id="chat-box" class="p-4 rounded-lg flex-grow overflow-auto flex flex-col space-y-2">
    <!-- Display the chat history -->
    <div *ngFor="let message of textArray" class="flex"
      [ngClass]="message.type === 'user' ? 'justify-end' : 'justify-start'">
      <div [ngClass]="{
            'bg-gray-200': message.type === 'user', 
            'bg-gray-800 text-white': message.type === 'bot',
            'self-end': message.type === 'user',
            'self-start': message.type === 'bot'}" class="p-2 rounded-lg max-w-[32rem] min-w-[18rem]">
        {{ message.text }}
      </div>
    </div>
  </div>

  <!-- Chat Input (Sticks to Bottom) -->
  <div class="mt-auto relative">
    <input id="chat-input" [(ngModel)]="chat" (keydown.enter)="onEnterText()" type="text"
      placeholder="Type a message..."
      class="w-full p-2 bg-gray-800 text-white border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 pr-10">

    <!-- Arrow Icon -->
    <svg (click)="onEnterText()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
      class="absolute right-2 top-1/2 transform -translate-y-1/2 text-white cursor-pointer">
      <path fill="currentColor" d="M10 17l5-5-5-5v10z" />
    </svg>
  </div>
</div>