<app-navbar *ngIf="hasNav"></app-navbar>

<!-- Chatbot Container with Adjusted Layout -->
<div class="bg-white p-8 flex flex-col h-[calc(100vh-4rem)] justify-center items-center shadow-2xl rounded-lg border border-gray-300">

  <!-- Chat Display Area -->
  <div id="chat-box" class="p-4 rounded-lg flex-grow overflow-auto flex flex-col space-y-4 w-full max-w-4xl ">
    <!-- Show heading only when no messages -->
    <div *ngIf="textArray.length === 0" class="flex flex-col items-center justify-center"> 
      <h2 class="text-3xl font-bold text-gray-800 mb-4 text-center">Hi, User</h2>
      <h3 class="text-xl font-semibold text-gray-600 mb-1 text-center">You can ask me about your governmental inquiries about topics like</h3>
      <h3 class="text-xl font-semibold text-gray-600 mb-2 text-center">Nepali Citizenship, Constitution, Labour Acts, Criminal Acts and many more</h3>
    </div>

    <div *ngFor="let message of textArray" class="flex flex-col space-y-2"
      [ngClass]="message.type === 'user' ? 'items-end' : 'items-start'">
      <span class="text-sm font-semibold text-gray-500" [ngClass]="message.type === 'user' ? 'text-right' : 'text-left'">
        {{ message.type === 'user' ? 'User' : 'Bot' }}
      </span>
      <div [ngClass]="{
            'bg-blue-100 text-blue-900': message.type === 'user', 
            'bg-gray-100 text-gray-900': message.type === 'bot',
            'self-end': message.type === 'user',
            'self-start': message.type === 'bot'}" class="p-4 rounded-lg max-w-[32rem] min-w-[18rem] shadow-md">
        {{ message.text }}
      </div>
    </div>
  </div>

  <!-- Chat Input (Sticks to Bottom) -->
  <div class="mt-auto relative min-w-[25rem] max-w-[40rem] w-full mx-2 flex justify-center items-center">
    <input id="chat-input" [(ngModel)]="chat" (keydown.enter)="onEnterText()" type="text"
      placeholder="Type a message..."
      class="w-full p-4 bg-white text-gray-800 border rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-800 px-10 shadow-md">

    <!-- ChatGPT-style Send Icon -->
    <button (click)="onEnterText()" 
      class="absolute right-2 top-1/2 transform -translate-y-1/2 bg-gray-800 hover:bg-blue-800 p-2 rounded-full transition-all duration-200 shadow-md">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" 
        class="h-6 w-6 text-white transform rotate-90">
        <path d="M7 11L12 6L17 11M12 18V7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
  </div>
</div>