<app-navbar></app-navbar>
<div class="bg-gray-100 min-h-screen p-6 flex flex-col md:flex-row gap-6">
  <!-- Left Side: Release Details (Wider - 60%) -->
  <div class="md:w-3/5 bg-gray-200 p-8 rounded-lg shadow-lg pb-6">
    <h2 class="text-3xl font-bold text-black mb-8 text-center">Release Details</h2>

    <div *ngIf="release" class="bg-gray-200 rounded-2xl shadow-lg p-6 border border-gray-300">
      <h3 class="text-2xl font-semibold text-black mb-4">{{ release.type }}</h3>

      <!-- Flex container for Image & Summary -->
      <div class="flex flex-col md:flex-row gap-6 items-start">
        <!-- Left Side: Image -->
        <img [src]="release.imagePath" alt="alt text"
          class="w-full md:w-2/5 max-h-60 object-cover rounded-lg flex-shrink-0">

        <!-- Right Side: Summary -->
        <div class="flex-1">
          <p class="text-sm text-gray-700 leading-relaxed">{{ release.summary }}</p>
        </div>
      </div>

      <!-- PDF Viewer and Read More Link -->
      <div class="pdf-preview-container">
        <div class="pdf-thumbnail">
          <pdf-viewer [src]="'/pdf/sample.pdf'" style="width:400px;height:500px"></pdf-viewer>
        </div>
      </div>

      <a href="{{ release.URL }}" target="_blank"
        class="inline-block text-white bg-blue-500 px-4 py-2 rounded-full hover:bg-blue-600 transition mt-4">
        Read more
      </a>

      <p class="text-xs text-gray-500 mt-4 italic">Source: {{ release.source }}</p>
    </div>


    <div *ngIf="!release" class="text-center text-gray-500">
      Release not found.
    </div>
  </div>

  <div class="md:w-2/5 bg-gray-800 p-8 rounded-lg shadow-lg flex flex-col h-[calc(100vh-48px)]">
    <h2 class="text-3xl font-bold text-white mb-4 text-center">AI Chatbot Model</h2>


    <div id="chat-box" class="p-4 rounded-lg flex-grow overflow-auto flex flex-col space-y-2">
      <!-- Display the chat history -->
      <div *ngFor="let message of textArray" class="flex"
        [ngClass]="message.type === 'user' ? 'justify-end' : 'justify-start'">
        <div [ngClass]="{
              'bg-gray-200': message.type === 'user', 
              'bg-gray-800 text-white': message.type === 'bot',
              'self-end': message.type === 'user',
              'self-start': message.type === 'bot'}" class="p-2 rounded-lg max-w-xs">
          {{ message.text }}
        </div>
      </div>
    </div>

    <div class="mt-auto relative">
      <input id="chat-input" [(ngModel)]="chat" (keydown.enter)="onEnterText()" type="text"
        placeholder="Type a message..."
        class="w-full p-2 bg-gray-800 text-white border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 pr-10">
    </div>
  </div>
</div>